# Ignorar todos los archivos .md excepto README.md
type: ignore

# Ignora todos los archivos Markdown
*.md

# ¡Pero no ignores README.md!
!README.md

# Ignorar la carpeta documentacion
documentacion/
